.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  justify-content: center;
  padding: 93.16px 50px 95px;
}

.header__menu {
  margin-right: 36px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  text-underline-offset: 2px;
}

.header__logo-image {
  display: block;
}

.links-list-item_no-bullit {
  list-style: none;
}

.menu-link_active {
  text-decoration: none;
}

.links-list-item {
  list-style: circle;
}

.header__logo-link {
  width: 148px;
  height: 105px;
  padding: 0 7px 0 6px;
}

.address {
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
}

.header__address {
  justify-self: end;
  padding-right: 36px;
  text-underline-offset: 3px;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 165px 50px 48px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  margin-bottom: 106px;
  color: #FFFFFF;
  letter-spacing: 30px;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
}

.for__using__overlay {
  position: relative;
  z-index: 1;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: -30px;
}

.aligned-text_right {
  text-align: end;
  margin-right: -30px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  font-size: 22px;
  color: #FFFFFF;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  font-weight: 500;
  font-size: 22px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: transparent;
  padding: 12px 32px 11px 31px;
  border-color: #FFFFFF;
}

.lots {
  margin-top: 180px;
  margin-left: 24px;
  margin-right: 24px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 27px;
  padding-left: 40px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 48px 40px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card__title {
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #FFFFFF;
}

.card__text {
  font-size: 20px;
  color: #FFFFFF;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: block;
  margin-top: 30px;
  font-size: 20px;
  padding-left: 40px;
  text-underline-offset: 4px;
}

.about {
  margin: 120px 24px 182px;
  padding-top: 33px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px 25px 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas: 
  "about__logo . about__title"
  ". . about__text";
}

.about__logo {
  grid-area: about__logo;
  width: 240px;
  height: 240px;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.justification__first-row {
  justify-self: center;
  align-self: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  grid-area: about__title;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  justify-self: start;  
}

.about__text {
  grid-area: about__text;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-weight: 400;
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 0 50px 82px;
}

.footer__address {
  justify-self: start;
  text-underline-offset: 4px;
}

.footer__menu-list {
  font-size: 18px;
  text-align: center;
  text-underline-offset: 4px;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__social-list {
  justify-self: end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 240px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}